body {
    background: #fff;
}

a {
    color: #b70610;
}

a:hover, a:focus {
    color: #b70610;
    text-decoration: underline;
}

h1, h2, h3, h4 {
    font-family: Montserrat;
    font-weight: bold;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #b70610;
    background-color: #000;
}

.container {
    max-width: 970px;
}

.text-center .img-responsive {
    margin: 0 auto;
}

.jumbotron
{
    background-image: url(../images/madison-skyline.jpg);
    background-size: cover;
    background-position: center bottom;
    border-bottom: 5px solid #b70610;
    color: #fff;
    height: 360px;
    padding: 70px 0;
}

footer {
    margin-bottom: 30px;
}
