<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Home{% endblock %} // Madison PHP Conference 2015</title>
        <meta name="description" content="{% block meta_description %}{% endblock %}">

        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/css/layout.css" rel="stylesheet">
        <link href="/assets/css/style.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        {% include "includes/nav.twig.html" %}

        <div class="jumbotron text-center" role="banner">
            <div class="container">
                <h1><img src="/assets/images/conf-logo.png" alt="Madison PHP Conference"></h1>
                <h2>Saturday, November 14th, 2015</h2>
                <div class="shareon-container" style="margin-top: 20px;">
                    <div class="shareon-text">share on</div>
                    <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]=http://2015.madisonphpconference.com/&amp;p[images][0]=http://2015.madisonphpconference.com/mysite/images/madison-php-shareable.jpg&amp;p[title]=+&amp;p[summary]=Madison PHP" class="facebook-share"> facebook</a>
                    <a target="_blank" href="https://twitter.com/intent/tweet?url=http://2015.madisonphpconference.com/&amp;text=Madison PHP&amp;via=MadisonPHP" class="twitter-share">twitter</a>
                </div>
            </div>
        </div>

        <div class="maincontent" role="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>

        <footer role="contentinfo">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>Copyright &copy; 2015 Madison PHP</p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </body>
</html>
