{% extends layout %}

{% block title %}Code of Conduct{% endblock %}

{% block meta_description %}
2015 Madison PHP Conference Code of Conduct
{% endblock %}

{% block content %}
<h1>Code of Conduct</h1>

<p>Madison PHP is a community group and is open to all. We are committed to a safe, professional environment for everyone and will not tolerate harassment or offensive behavior of any kind. Any participant at any of our events that is violating our Code of Conduct will be dealt with at the discretion of the group organizers and may be removed without opportunity for refund. If you are asked to stop a violating behavior, you are expected to comply immediately. If you have any questions or have an incident to report, please talk to any one of the group's organizers immediately at the event or <a href="http://contact.madisonphpconference.com">email the organizers</a>. Reports can be made anonymously via the email form, but we encourage you to include your contact information so we can more fully assist you and can follow-up if needed. All reports will be taken seriously, handled respectfully, and dealt with in a timely manner.</p>

Helpful Links:
<ul>
    <li><a href="/organizers/">Who are the conference organizers?</a></li>
    <li><a href="http://contact.madisonphpconference.com">Email the Organizers</a></li>
</ul>

{% endblock %}
