{% extends layout %}

{% block title %}Home{% endblock %}

{% block meta_description %}

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h2>One day, three tracks, more fun than a barrel of elePHPants!</h2>
        <p>Join us on Saturday, November 14th, 2015 for a one day, three track conference in Madison, Wisconsin that focuses on PHP and related web technologies. This event is organized by <a href="http://www.madisonphp.com">Madison PHP</a> and is designed to offer something to attendees at all skill levels. It will be a day of networking, learning, sharing, and great fun!</p>
    </div>
    <div class="col-md-6">
    <img src="/assets/images/reg_table.jpg" alt="Madison PHP Registration Table" class="img-responsive img-thumbnail">
    </div>
</div>
{% endblock %}
