{% extends layout %}

{% block title %}Home{% endblock %}

{% block meta_description %}

{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="media">
            <div class="media-left">
                <img src="/assets/images/reg_table.jpg" alt="Madison PHP Registration Table" class="media-object img-responsive img-thumbnail">
            </div>
            <div class="media-body">
                <h2 class="media-heading"><span class="nobr">One Day</span> <span class="nobr">Four Tracks</span></h2>
            </div>
        </div>
        <p>Join us on Saturday, November 14th, 2015 for a one day, four track conference in Madison, Wisconsin that focuses on PHP and related web technologies. This event is organized by <a href="http://www.madisonphp.com">Madison PHP</a> and is designed to offer something to attendees at all skill levels. It will be a day of networking, learning, sharing, and great fun!</p>
        <img src="/assets/images/open-space.jpg" alt="conference lobby and vendor area" class="img-responsive img-thumbnail">
    </div>
    <div class="col-md-6">
        <img src="/assets/images/home_sidebar.png" alt="Madison PHP Attendees" class="img-responsive">
    </div>
</div>
{% endblock %}
