{% extends layout %}

{% block title %}Home{% endblock %}

{% block meta_description %}

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div>
            <div style="float: left; margin-right: 5px;"><img src="/assets/images/reg_table.jpg" alt="Madison PHP Registration Table" class="img-responsive img-thumbnail"></div>
            <br><h1>One Day</h1>
            <h1>Three Tracks</h1>
            <div style="clear: both;"></div>
        </div><br>
        <p>Join us on Saturday, November 14th, 2015 for a one day, three track conference in Madison, Wisconsin that focuses on PHP and related web technologies. This event is organized by <a href="http://www.madisonphp.com">Madison PHP</a> and is designed to offer something to attendees at all skill levels. It will be a day of networking, learning, sharing, and great fun!</p>
        <img src="/assets/images/open-space.jpg" alt="conference lobby and vendor area" class="img-responsive">
    </div>
    <div class="col-md-6">
        <img src="/assets/images/home_sidebar.png" alt="Madison PHP Attendees" class="img-responsive">
    </div>
</div>
{% endblock %}
