{% extends layout %}

{% block title %}Hotel{% endblock %}

{% block meta_description %}
2015 Madison PHP Conference Hotel
{% endblock %}
 
{% block content %}
  <h1>Hotel</h1>
  <p>
    Enim direct trade nihil sed, tilde asymmetrical officia esse accusamus. Heirloom cliche fap, slow-carb Etsy consequat gluten-free deep v cupidatat Carles drinking vinegar nostrud Kickstarter ad tilde. Ullamco ethical salvia meggings odio, placeat authentic banjo four loko roof party Intelligentsia. Tousled occupy flannel aliquip Brooklyn esse actually four dollar toast, fugiat try-hard officia Marfa Bushwick four loko vegan.
  </p>
{% endblock %}