{% extends layout %}

{% block title %}Hotel{% endblock %}

{% block meta_description %}
2015 Madison PHP Conference Hotel
{% endblock %}

{% block content %}
<h2>Hotel</h2>

<h3>Conference Hotel</h3>

<p>We have a room block available at the:</p>

<p>Clarion Suites at the Alliant Energy Center<br>
2110 Rimrock Road, Madison, WI, US, 53713</p>

<p><a href="http://www.clarionhotel.com/hotel-madison-wisconsin-WI103">http://www.clarionhotel.com/hotel-madison-wisconsin-WI103</a></p>

<p>The Clarion is located adjacent to the venue and is connected to the conference venue via an enclosed walkway. They offer a wide variety of studio and suite rooms.</p>

<p>To reserve a room in our room block, call: (608) 284-1234 and ask for a room in the "Madison PHP" room block.</p>

<h3>Additional Options</h3>

<p>Sheraton Madison Hotel<br>
706 John Nolen Dr., Madison, WI 53713</p>

<p><a href="http://www.sheratonmadison.com/">http://www.sheratonmadison.com/</a></p>

<p>The Sheraton is located across the street from the conference venue, an approximately 0.2 mile walk.</p>

<p>Holiday Inn Express<br>
722 John Nolen Dr., Madison, WI 53713</p>

<p><a href="http://www.ichotelsgroup.com/h/d/ex/1/en/hotel/msnjn?&cm_mmc=mdpr-_-googlemaps-_-ex-_-msnjn">http://www.ichotelsgroup.com/h/d/ex/1/en/hotel/msnjn?&cm_mmc=mdpr-_-googlemaps-_-ex-_-msnjn</a></p>

<p>The Holiday Inn  is located across the street from the conference venue, an approximately 0.2 mile walk.</p>

<p>More hotel options can be found on the Alliant Energy Center's website:<br>
<a href="https://www.alliantenergycenter.com/Exhibitors/Accommodations">https://www.alliantenergycenter.com/Exhibitors/Accommodations</a></p>

{% endblock %}
