{% extends layout %}

{% block title %}Organizers{% endblock %}

{% block meta_description %}

{% endblock %}

{% block content %}
<h2>Madison PHP Organizers</h2>

<p><a href="http://contact.madisonphpconference.com" class="btn btn-default"><span class="fa fa-envelope-o" aria-hidden="true"></span> Email the Organizers</a></p>

<div class="row">
    <div class="col-md-6">
        <h3>Andrew Shell</h3>
        <p><img src="/assets/images/AndrewShell.jpg" class="img-responsive" alt="Andrew Shell"></p>
        <p>Andrew Shell founded Madison PHP in 2004. Currently, he is the Co-Founder and CTO of Pinpoint Software. Sometimes he writes at <a href="http://blog.andrewshell.org">http://blog.andrewshell.org</a> about PHP, JavaScript, and the open web. You can find him on Twitter (<a href="https://twitter.com/andrewshell">@andrewshell</a>).</p>
    </div>
    <div class="col-md-6">
        <h3>Beth Tucker Long</h3>
        <p><img src="/assets/images/BethTuckerLong.png" class="img-responsive" alt="Beth Tucker Long"></p>
        <p>Beth Tucker Long is a PHP developer and advocate at Code Climate and co-organizer of Madison PHP. You can find her on Twitter (<a href="https://twitter.com/e3betht">@e3betht</a>) or on her blog (<a href="http://www.alittleofboth.com">http://www.alittleofboth.com</a>). Beth is a firm believer in promoting community and mentoring. She runs Treeline Design, a web development company, and Playlist Event Music, a DJ company, along with her husband, Chris.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3>Jason Endres</h3>
        <p><img src="/assets/images/JasonEndres.jpg" class="img-responsive" alt="Jason Endres"></p>
        <p>Jason Endres is a Software Architect at Trek. Founded in 1976 Trek is a leading bicycle manufacturer. He is a co-organizer of the Madison PHP user group, and you can find him on Twitter (<a href="https://twitter.com/tinyjason">@tinyjason</a>).</p>
    </div>
    <div class="col-md-6">
        <h3>Ryan Wachtl</h3>
        <p><img src="/assets/images/RyanWachtl.png" class="img-responsive" alt="Ryan Wachtl"></p>
        <p>Ryan Wachtl is a co-organizer of Madison PHP and owner of Beyond Usability.</p>
    </div>
</div>

{% endblock %}
