{% extends layout %}

{% block title %}Organizers{% endblock %}

{% block meta_description %}

{% endblock %}

{% block content %}
<h1>Madison PHP Organizers</h1>

<h2><a href="http://contact.madisonphpconference.com">Email the Organizers</a></h2>

<h2>Andrew Shell</h2>

<p><img src="/assets/images/AndrewShell.jpg" alt="Andrew Shell" /></p>

<p>Andrew Shell founded Madison PHP in 2004. Currently, he is the Co-Founder and CTO of Pinpoint Software. Sometimes he writes at <a href="http://blog.andrewshell.org">http://blog.andrewshell.org</a> about PHP, JavaScript, and the open web.</p>

<h2>Beth Tucker Long</h2>

<p><img src="/assets/images/BethTuckerLong.png" alt="Beth Tucker Long" /></p>

<p>Beth Tucker Long is a PHP developer and advocate at Code Climate and co-organizer of Madison PHP. You can find her on Twitter (@e3betht) or on her blog (<a href="http://www.alittleofboth.com">http://www.alittleofboth.com</a>). Beth is a firm believer in promoting community and mentoring. She runs Treeline Design, a web development company, and Playlist Event Music, a DJ company, along with her husband, Chris.</p>

<h2>Jason Endres</h2>

<p><img src="/assets/images/JasonEndres.jpg" alt="Jason Endres" /></p>

<p>Jason Endres is a Software Architect at Trek. Founded in 1976 Trek is a leading bicycle manufacturer. He is a co-organizer of the Madison PHP user group, and you can find him on Twitter (@tinyjason).</p>

<h2>Ryan Wachtl</h2>

<p><img src="/assets/images/RyanWachtl.png" alt="Ryan Wachtl" /></p>

<p>Ryan Wachtl is a co-organizer of Madison PHP and owner of Beyond Usability.</p>


{% endblock %}