{% extends layout %}

{% block title %}Schedule{% endblock %}

{% block meta_description %}
2015 Madison PHP Conference Schedule
{% endblock %}

{% block content %}

<div class="container">
    <div class="sixteen columns heading-text">
        <div class="separator separator-title">
            <h2 class="separator-mainheader color">Schedule</h2>
            <span class="separator-subheader">We&#039;ve assembled a heroic lineup of speakers.</span>
        </div>
    </div>
    <div class="sixteen columns">
        <p><strong>Don't forget to leave feedback for them on Joind.in:</strong><br><strong><a href="https://joind.in/event/madisonphp2015">https://joind.in/event/madisonphp2015</a></strong></p>

    </div>


    <div class="sixteen columns schedule-list odd">
        <div class="day">
            <div>
                <h6>8:00am</h6>
            </div>
        </div>

        <div class="time">

            <div style="min-height: 84px;">
                <p></p>
            </div>

        </div>

        <div class="details">

            <div class="details-row">
                <h6>

                    Check-in/Registration

                </h6>
                <p></p>
            </div>

        </div>
        <div class="schedule-list clear"></div>
    </div>

    <div class="sixteen columns schedule-list even">
        <div class="day">
            <div>
                <h6>9:00am</h6>
            </div>
        </div>



        <div class="details">

            <div class="details-row">
                <h6>
                    <a href="/talks/A1">{{ talks.A1.title }}</a><br>
                        {% for speaker in talks.A1.speaker %}
                            {{ speaker.name }}<br>
                        {% endfor %}
                </h6>
                <p>{{ talks.A1.tagline }}</p>
            </div>
            <div class="details-row">
                <h6>
                    <a href="/talks/A2">{{ talks.A2.title }}</a><br>
                    {% for speaker in talks.A2.speaker %}
                       {{ speaker.name }}<br>
                    {% endfor %}
                </h6>
                <p>{{ talks.A2.tagline }}</p>
            </div>
            <div class="details-row">
                <h6>
                    <a href="/talks/A3">{{ talks.A3.title }}</a><br>
                    {% for speaker in talks.A3.speaker %}
                        {{ speaker.name }}<br>
                    {% endfor %}
                </h6>
                <p>{{ talks.A3.tagline }}</p>
            </div>
            <div class="details-row">
                <h6>
                    <a href="/talks/A4">
                        {{ talks.A4.title }}</a><br>
                    {% for speaker in talks.A4.speaker %}
                        {{ speaker.name }}<br>
                    {% endfor %}
                </h6>
                <p>{{ talks.A4.tagline }}</p>
            </div>

        </div>
        <div class="schedule-list clear"></div>
    </div>

    <div class="sixteen columns schedule-list odd">
        <div class="day">
            <div>
                <h6>10:30am</h6>
            </div>
        </div>



        <div class="details">

            <div class="details-row">
                <h6>
                    <a href="/talks/B1">
                        {{ talks.B1.title }}</a><br>
                    {% for speaker in talks.B1.speaker %}
                        {{ speaker.name }}<br>
                    {% endfor %}
                </h6>
                <p>{{ talks.B1.tagline }}</p>
            </div>
            <div class="details-row">
                <h6>
                    <a href="/talks/B2">
                        {{ talks.B2.title }}</a><br>
                    {% for speaker in talks.B2.speaker %}
                       {{ speaker.name }}<br>
                    {% endfor %}
                </h6>
                <p>{{ talks.B2.tagline }}</p>
            </div>
            <div class="details-row">
                <h6>
                    <a href="/talks/B3">
                        {{ talks.B3.title }}</a><br>
                    {% for speaker in talks.B3.speaker %}
                        {{ speaker.name }}<br>
                    {% endfor %}
                </h6>
                <p>{{ talks.B3.tagline }}</p>
            </div>
            <div class="details-row">
                <h6>
                    <a href="/talks/B4">
                        {{ talks.B4.title }}</a><br>
                    {% for speaker in talks.B4.speaker %}
                        {{ speaker.name }}<br>
                    {% endfor %}
                </h6>
                <p>{{ talks.B4.tagline }}</p>
            </div>


        </div>
        <div class="schedule-list clear"></div>
    </div>

    <div class="sixteen columns schedule-list even">
        <div class="day">
            <div>
                <h6>11:30am</h6>
            </div>
        </div>

        <div class="time">

            <div style="min-height: 84px;">
                <p></p>
            </div>

        </div>

        <div class="details">

            <div class="details-row">
                <h6>

                    Lunch

                </h6>
                <p></p>
            </div>

        </div>
        <div class="schedule-list clear"></div>
    </div>

    <div class="sixteen columns schedule-list odd">
        <div class="day">
            <div>
                <h6>12:30pm</h6>
            </div>
        </div>



        <div class="details">

            <div class="details-row">
                <h6>
                    <a href="/talks/C1">
                        {{ talks.C1.title }}</a><br>
                    {% for speaker in talks.C1.speaker %}
                        {{ speaker.name }}<br>
                    {% endfor %}
                </h6>
                <p>{{ talks.C1.tagline }}</p>
            </div>
            <div class="details-row">
                <h6>
                    <a href="/talks/C2">
                        {{ talks.C2.title }}</a><br>
                    {% for speaker in talks.C2.speaker %}
                        {{ speaker.name }}<br>
                    {% endfor %}
                </h6>
                <p>{{ talks.C2.tagline }}</p>
            </div>
            <div class="details-row">
                <h6>
                    <a href="/talks/C3">
                        {{ talks.C3.title }}</a><br>
                    {% for speaker in talks.C3.speaker %}
                        {{ speaker.name }}<br>
                    {% endfor %}
                </h6>
                <p>{{ talks.C3.tagline }}</p>
            </div>
            <div class="details-row">
                <h6>
                    <a href="/talks/C4">
                        {{ talks.C4.title }}</a><br>
                    {% for speaker in talks.C4.speaker %}
                        {{ speaker.name }}<br>
                    {% endfor %}
                </h6>
                <p>{{ talks.C4.tagline }}</p>
            </div>

        </div>
        <div class="schedule-list clear"></div>
    </div>

    <div class="sixteen columns schedule-list even">
        <div class="day">
            <div>
                <h6>2:00pm</h6>
            </div>
        </div>

        <div class="details">

            <div class="details-row">
                <h6>
                    <a href="/talks/D1">
                        {{ talks.D1.title }}</a><br>
                    {% for speaker in talks.D1.speaker %}
                        {{ speaker.name }}<br>
                    {% endfor %}
                </h6>
                <p>{{ talks.D1.tagline }}</p>
            </div>
            <div class="details-row">
                <h6>
                    <a href="/talks/D2">
                        {{ talks.D2.title }}</a><br>
                    {% for speaker in talks.D2.speaker %}
                        {{ speaker.name }}<br>
                    {% endfor %}
                </h6>
                <p>{{ talks.D2.tagline }}</p>
            </div>
            <div class="details-row">
                <h6>
                    <a href="/talks/D3">
                        {{ talks.D3.title }}</a><br>
                    {% for speaker in talks.D3.speaker %}
                        {{ speaker.name }}<br>
                    {% endfor %}
                </h6>
                <p>{{ talks.D3.tagline }}</p>
            </div>
            <div class="details-row">
                <h6>
                    <a href="/talks/D4">
                        {{ talks.D4.title }}</a><br>
                    {% for speaker in talks.D4.speaker %}
                        {{ speaker.name }}<br>
                    {% endfor %}
                </h6>
                <p>{{ talks.D4.tagline }}</p>
            </div>


        </div>
        <div class="schedule-list clear"></div>
    </div>

    <div class="sixteen columns schedule-list odd">
        <div class="day">
            <div>
                <h6>3:00pm</h6>
            </div>
        </div>

        <div class="time">

            <div style="min-height: 84px;">
                <p></p>
            </div>

        </div>

        <div class="details">

            <div class="details-row">
                <h6>

                    Snack Time

                </h6>
                <p></p>
            </div>

        </div>
        <div class="schedule-list clear"></div>
    </div>

    <div class="sixteen columns schedule-list even">
        <div class="day">
            <div>
                <h6>3:30pm</h6>
            </div>
        </div>



        <div class="details">

            <div class="details-row">
                <h6>
                    <a href="/talks/E1">{{ talks.E1.title }}</a><br>
                    {% for speaker in talks.E1.speaker %}
                        {{ speaker.name }}<br>
                    {% endfor %}
                </h6>
                <p>{{ talks.E1.tagline }}</p>
            </div>
            <div class="details-row">
                <h6>
                    <a href="/talks/E2">
                        {{ talks.E2.title }}</a><br>
                    {% for speaker in talks.E2.speaker %}
                        {{ speaker.name }}<br>
                    {% endfor %}
                </h6>
                <p>{{ talks.E2.tagline }}</p>
            </div>
            <div class="details-row">
                <h6>
                    <a href="/talks/E3">
                        {{ talks.E3.title }}</a><br>
                    {% for speaker in talks.E3.speaker %}
                        {{ speaker.name }}<br>
                    {% endfor %}
                </h6>
                <p>{{ talks.E3.tagline }}</p>
            </div>
            <div class="details-row">
                <h6>
                    <a href="/talks/E4">
                        {{ talks.E4.title }}</a><br>
                    {% for speaker in talks.E4.speaker %}
                        {{ speaker.name }}<br>
                    {% endfor %}
                </h6>
                <p>{{ talks.E4.tagline }}</p>
            </div>

        </div>
        <div class="schedule-list clear"></div>
    </div>

    <div class="sixteen columns schedule-list odd">
        <div class="day">
            <div>
                <h6>4:45pm</h6>
            </div>
        </div>

        <div class="time">

            <div style="min-height: 84px;">
                <p>Closing Keynote</p>
            </div>

        </div>

        <div class="details">

            <div class="details-row">
                <h6>
                    <a href="/talks/keynote">
                        {{ talks.keynote.title }}</a><br>
                    {% for speaker in talks.keynote.speaker %}
                        {{ speaker.name }}<br>
                    {% endfor %}
                </h6>
                <p>{{ talks.keynote.tagline }}</p>
            </div>

        </div>
        <div class="schedule-list clear"></div>
    </div>

    <div class="sixteen columns schedule-list even">
        <div class="day">
            <div>
                <h6>5:45pm</h6>
            </div>
        </div>

        <div class="time">

            <div style="min-height: 84px;">
                <p></p>
            </div>

        </div>

        <div class="details">

            <div class="details-row">
                <h6>

                    Closing Remarks and Prizes

                </h6>
                <p></p>
            </div>

        </div>
        <div class="schedule-list clear"></div>
    </div>
    <div class="sixteen columns schedule-list odd">
        <div class="day">
            <div>
                <h6>6:00pm - 7:00pm</h6>
            </div>
        </div>

        <div class="time">

            <div style="min-height: 84px;">
                <p></p>
            </div>

        </div>

        <div class="details">

            <div class="details-row">
                <h6>

                    Reception (food provided)

                </h6>
                <p></p>
            </div>

        </div>
        <div class="schedule-list clear"></div>
    </div>


</div>

{% endblock %}
