{% extends layout %}

{% block title %}Sponsors{% endblock %}

{% block meta_description %}
2015 Madison PHP Conference Sponsors
{% endblock %}

{% block content %}
<h2>Sponsors</h2>

<p>Madison PHP Conference could not exist without the generous support of our sponsors. If you are interested in becoming a sponsor, please <a href="http://contact.madisonphpconference.com">contact us</a> to receive our sponsorship prospectus.</p>

<div class="text-center">
    <hr>
    <h3>Bronze Sponsors</h3>
    {% for sponsor in sponsors.bronze %}
        <a href="{{ sponsor.href }}"><img src="{{ sponsor.img }}" alt="{{ sponsor.name }}" class="img-responsive"></a>
    {% endfor %}
    <hr>

    <hr>
    <h3>Community Sponsors</h3>
    {% for sponsor in sponsors.community %}
        <a href="{{ sponsor.href }}"><img src="{{ sponsor.img }}" alt="{{ sponsor.name }}" class="img-responsive"></a>
    {% endfor %}

</div>
{% endblock %}
