{% extends layout %}

{% block title %}Schedule{% endblock %}

{% block meta_description %}
2015 Madison PHP Conference Schedule
{% endblock %}

{% block content %}

<p><a href="/schedule">View the Full Schedule</a></p>

<h2>{{ talk.title }}</h2>

<p>{{ talk.talk_description|raw }}</p>

{% for speaker in talk.speaker %}
    <div style="clear:both;">
    <img src="{{ speaker.img }}" class="img-responsive img-thumbnail" style="float: left; margin-right: 10px;" alt="{{ speaker.name }}"><br>
    <strong>{{ speaker.name }}</strong><br>
    {{ speaker.bio|raw }}</p>
    </div>
{% endfor %}


{% endblock %}
