{% extends layout %}

{% block title %}Venue{% endblock %}

{% block meta_description %}
2015 Madison PHP Conference Venue
{% endblock %}

{% block content %}
<h2>Venue</h2>

<div class="row">
    <div class="col-md-6">
        <h3>Alliant Energy Center</h3>
        <h4>1919 Alliant Energy Center Way, Madison WI</h4>
        <p><a href="https://www.alliantenergycenter.com">https://www.alliantenergycenter.com</a></p>

        <p>
        The Alliant Energy Center of Dane County is located in beautiful Madison, Wisconsin and serves as a multi-building entertainment venue for expositions, conventions, conferences, meetings, banquets, consumer shows, outdoor events, concerts and much more. The campus encompasses 164 acres and features Veterans Memorial Coliseum, Exhibition Hall, Willow Island, the Arena Building and nine modern agricultural buildings.
        </p>

        <p>From <strong>Chicago</strong> (South): I-90 to exit 142A, west on Hwy. 12/18, 5 miles to Rimrock Rd. exit 262</p>

        <p>From <strong>Green Bay</strong> (North): I-90 to exit 142A, west on Hwy. 12/18, 5 miles to Rimrock Rd. exit 262</p>

        <p>From <strong>Milwaukee</strong> (East): I-94 West, I-90 South to exit 142A, west on Hwy. 12/18 to Rimrock Rd. exit 262</p>

        <p>From <strong>Minneapolis</strong> (West): I-90 South to exist 142A, west on Hwy. 12/18 to Rimrock Rd. exit 262</p>

        <p>From <strong>Des Moines</strong> (South): I-80 East to I-380 North, north on Hwy. 151 to Hwy. 12/18E, exit at Rimrock Rd. exit 262</p>
    </div>
    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2915.8600686400537!2d-89.3806195!3d43.04437559999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880652c263dfcee7%3A0x732b8c7763c5b52a!2s1919+Alliant+Energy+Center+Way%2C+Madison%2C+WI+53713!5e0!3m2!1sen!2sus!4v1430067021833" width="100%" height="350" frameborder="0" style="border:0"></iframe>
    </div>
</div>

{% endblock %}
